*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    height: 100%;
    width: 100%;
    text-decoration: none;
    
}
.main{
    position: relative;
    z-index: 10;
 
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 0vh 2vw;
    position: relative;
    overflow: hidden;
    
}

nav{
    padding: 2vh 0vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    
}

nav img{
    border-radius: 100px;
    cursor: pointer;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
   
    
}

.nav-part2 button{
    padding: 10px 20px;
    border: 1px solid rgba(13, 13, 13, 0.458);
    border-radius: 50px;
    font-weight: 500;
    color: rgba(31, 30, 30, 0.781);
    font-size: 18px;
    overflow: hidden;
    position: relative;
   transition: all ease 0.4s;
   cursor: pointer;
  
}
.nav-part2 button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1a1919;
    left: 0;
    bottom: -100%;
    transition: all ease 0.4s;
    border-radius: 40px;
}
.nav-part2 button:hover::after{
    bottom: 0;
    border-radius: 0;
    
}
.nav-part2 button a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
.nav-part2 button:hover a{
    color: rgb(255, 255, 255);
}

.center{
    height: 75vh;
    width: 100%;
    /* background-color: #f4d566; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 8vh;
    border-bottom: 1px solid rgba(54, 53, 53, 0.519) ;
}

.center .left p{
    width: 29vw;
    font-size: 4.3vh;
    font-weight: 600;
    line-height: 1.9vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center .right h1{
    font-size: 12vw;
    font-weight: 800;
    line-height: 8.5vw;
    margin-right: 1.5vw ;
    letter-spacing: -0.5vw;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    

}

.shade {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 80vh;
}

.shade1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;

}

.shade2 {
    background: linear-gradient(#dd3116, #FE320A);
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.shade3{
    background: linear-gradient(#e42e25,#FE320A);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.shade3{
    background: linear-gradient(#FE320A, #FE320A);
    height: 30vw;
    position: absolute;
    right: 22vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(15px);
    animation-name: anime3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(5%, 53%);
    }

    to {
        transform: translate(58%, 88%);
    }
}


@keyframes anime2 {
    from {
        transform: translate(65%, -15%);
    }

    to {
        transform: translate(45%, -5%);
    }
}
@keyframes anime3 {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(20%, 35%);
    }
}

.page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

.page2{
min-height: 115vh;
width: 100%;
padding: 8vh 0;
background: #EFEAE3;
position: relative;
}

.dot
{
    height: 6vh;
    width: 6vh;
    background-color: #ee3131;
    border-radius: 100%;
    margin: 0 2vw;
    display: inline-block;
}
.moving-text{
    overflow-x: auto;
white-space: nowrap;
}

.moving-text::-webkit-scrollbar{
    display: none;
}

.moving-text h2{
    font-size: 10vh;
    /* background: #8de4f0; */
    display: inline-block;
}

.headline{
    white-space: nowrap;
    display: inline-block;
    animation: Text-anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes Text-anime {
    from{
transform: translateX(0);
    }
    to{
transform: translateX(-100%);
    }
}

.page-bottom1{
height: 80vh;
width: 100%;
display: flex;
align-items: center;
padding: 4.5vw;
justify-content: space-between;
position: relative;
z-index: 9;
}
.page-bottom1 span{
    font-size: 3.2vw;
    width: 55%;
    line-height: 6vh; 
}

.page-bottom2{
    width: 25%;
}

.page-bottom2 img {
    width: 100%;
    border-radius: 20px;
   
}

.page-bottom2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
    text-align: justify;
  
}


.gola{
    height: 65vh;
    width: 60vh;
    position: absolute;
    top: 25.7vw;
    left: 55vh;
    border-radius: 50%;
    background: linear-gradient( to top right, #ef1717, #f06b18);
    animation-name: gole;
    animation-duration: 7s;
    animation-direction: alternate ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    

}

@keyframes gole {
    from{
        filter: blur(35px);
        transform: translate(10% , -10%) skew(0);
    }
    to{
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(12deg);
    }
}
.page3
{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    position: relative;
   
}

.elem{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(57, 56, 56);
    display: flex;
    align-items: center;
    padding-left: 3vw;
    position: relative;
    overflow: hidden;
    
}
.elem h1{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background: #f4b412;
    top: -100%;
    transition: all ease 0.6s;
}

.elem:hover .overlay{
    top: 0;
    transition: all ease 0.4s;
}

.fixed-image{
    height: 26vw;
    width: 20vw;
    border-radius: 10px;
    position: fixed;
    z-index: 54;
    top: 27%;
    left: 55%;
    display: none;
    background-size: cover;
    background-position: center ;
    /* background-color: #d1cf75; */
}

.page3 button{
    padding: 0.5vw 2vw;
    border: 1px solid #a2a1a1;
    border-radius: 20px;
    font-size: 1vw;
    margin: 2vw 4vw;
    
}
.page3 button i {
    margin-left: 0.5vw;
}
.page4{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #EFEAE3;
    
}
.page4_left{
width: 38%;
height: 100%;
background-color: #000000;
color: white;
border-radius: 20px 0 0 20px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2.5vw;
}
.page4_right{
width: 65%;
height: 100%;
background-image: url('https://images.unsplash.com/photo-1471341971476-ae15ff5dd4ea?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: white;
border-radius: 20px;

}
.page4-con{
    width: 95%;
    height: 100vh;
    display: flex;
    background: #000000;
    margin: 2vw;
    border-radius: 20px;
}
.page4_left h2{
font-size: 5vw;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 800;
line-height: 4vw;
}

.page4_left p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    font-size: 15px;
    text-align: center;
    
}
.page5{
    width: 100%;
    height: 80vh;
    background-color:#EFEAE3;
    padding: 0vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 6vw;
    
}
.page5 h2{
 font-size: 3vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 2vw;
background: -webkit-linear-gradient(#e7543e , #f19513);
  -webkit-background-clip:text  ;
  -webkit-text-fill-color: transparent;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
 
.swiper-slide h3{
    font-size: 2vw;
}
  .swiper-slide {
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 18px;
    background-color:#EFEAE3;
    color: rgb(0, 0, 0);
    background: #EFEAE3;
    width: 35%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    gap: 2vw;

  }

  .page6 {
    height: 100vh;
    width: 100%;
}

  #footer{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 6vw;

  }
  #footer h1{
    font-size: 16vw;
}
  #footer hr{
    width: 100%;
    position: relative;
    bottom: 2vw;
}

#fotter-div {
    height: 35vh;
    width: 100%;
    position: relative;
    top: -10vh;
}

#fotter-bottom {
    border-top: 1px solid #ef8645;
    height: 10vh;
    width: 100%;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
/* footterr animation */

.fotter-shade {
    position: relative;
    width: 30vw;
    height: 20vw;
    
}

.fotter-shade1 {
    background-color:  #fe0a0a;
    height: 19vw;
    width: 100vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    filter: blur(20px);
    position: absolute;

}

.fotter-shade2 {
  
    background-color:  #fe0a0a;;
    height: 25vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: footer-anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
    bottom: 10vw;
    left: 10vw;
}
.fotter-shade3 {
  background-color:  #fe0a0a;;
    height: 30vw;
    width: 35vw;
    border-radius: 50%;
    position: absolute;
    animation-name: footer-anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
    top: -28vw;

}

.fotter-shade4{
  background-color:  #fe0a0a;;
    height: 35vw;
    position: absolute;
    width: 35vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: footer-anime3;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    bottom: 10vw;
    left: 50vw;
   
}
.fotter-shade5{
   background-color:  #fe0a0a;
    height: 30vw;
    position: absolute;
    right: 22vw;
    width: 35vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: footer-anime5;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    left: 25vw;
    
}
.fotter-shade6{
 background-color:  #fe0a0a;;
    height: 30vw;
    position: absolute;
    right: 22vw;
    width: 35vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: footer-anime6;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    left: 20vw;
   
}




@keyframes footer-anime1 {
    from {
        transform: translate(5%, 53%);
    }

    to {
        transform: translate(58%, 88%);
    }
}


@keyframes footer-anime2 {
    from {
        transform: translate(50%, 50%);
    }

    to {
        transform: translate(-20%, 80%);
    }
}
@keyframes footer-anime3 {
    from {
        transform: translate(50%, 50%);
    }

    to {
        transform: translate(100%, 20%);
    }
}
@keyframes footer-anime5 {
    from {
        transform: translate(100%, -10%);
    }

    to {
        transform: translate(50%, 10%);
    }
}
@keyframes footer-anime6{
    from {
        transform: translate(1%, -100%);
    }

    to {
        transform: translate(50%, 0%);
    }
}
.social a{
text-decoration: none;
color: #EFEAE3;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0px;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}



/* Responsive */

@media (max-width:600px) {

    .page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        /* transition: all ease 0.2s; */
        height: 6vh;
        width: 20vw;
    }

    .nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    .center {
        height: 45vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        /* align-items: flex-end;    */
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        /* flex-direction: column-reverse;  */
        position: relative;
        z-index: 9;
    }

    .center .left p {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;   
    }

    .center h1 {
        font-size: 22vw;
        text-align: right;
        line-height: 15vw;
    }

    .page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    .page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
        
    }

    .moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    .moving-text::-webkit-scrollbar {
        display: none;
    }

    .headline {
        white-space: nowrap;
        display: inline-block;  
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    .gola {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    .page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    .page-bottom1 span{
        width: 100%;
        text-align: center;
        line-height: normal;
        margin-bottom: 5vw;
        font-size: 4vw;
    }
    .page-bottom1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10vw;
    }
    .page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    .bottom-part2 {
        width: 100%;    
       
    }

    .page-bottom2 img {
       
       width: 65vw;
       position: relative; 
       right: 110px;
       bottom: 60px;
    }

    .page-bottom2 p {
        font-size: 15px;
        width: 65vw;
        position: relative;
        right: 21vw;
        bottom: 5vw;
    }

    .page2 .dot {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ef0b0b, #ef741d);
        /* background: linear-gradient(to top right,red,blue); */


        top: 30%;
        left: 25%;
        filter: blur(20px);
        animation-name: gola;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

        }   

        .page4-con{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 5vw 8vw;
            
        }
        .page4-con h2{
            font-size: 7vw;
            line-height: 6.5vw;
        }
        .page4_left{
            display: flex;
            flex-direction: row;
            gap: 5vw;
            width: 100%;
        }
        .page4_left p{
              width: 100%;
        }
        .page4_right{
            width: 120%;
            height: 100%;
            margin-bottom: -27px;
        }
     }
